package components

templ About() {
        <main>
            <h1>About</h1>
            <p>This site is a collection of quotes I have come across, mostly about life and software development</p>
            <p>This site was inspired by <a target="_blank" href="https://megamanquotes.com/">Mega Man Quotes</a>, please go there for all your software development quotes</p>
            <p>It was built using <a target="_blank" href="https://htmx.org/">HTMX</a> and <a target="_blank" href="https://go.dev">Go</a> + <a target="_blank" href="https://templ.guide/">Templ</a> and is hosted on <a target="_blank" href="https://cloud.google.com/run/">Google Cloud Run</a></p>
            <p>It is open source and you can find the code on my <a target="_blank" href="https://github.com/Linkinlog">GitHub</a></p>
        </main>
    }
