package components

templ Nav() {
	<nav>
		<ul hx-boost="true">
			<li><a href="/">Home</a></li>
			<li><a href="/add">Add Quote</a></li>
			<li><a href="/quotes">All Quotes</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
}
