package components

import "github.com/Linkinlog/quotes/models"

templ Quotes(q []*models.Quote, admin bool) {
	for _, quote := range q {
		if quote.Approved() || admin {
			@Quote(quote, admin)
		}
	}
}
